.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}

.hero h1{
    font-size: 30px;
    margin-bottom: 10px;
}

/* Overlay gelap + blur */
.overlay,
.overlay-home { 
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.55);
}

.overlay-home {
  background: rgba(0, 0, 0, 0.5);
  padding: 12% 2% 2%;
}
.overlay-home button{
    width: 100px;
    height: 60px;
    color: black;
    
}

/* Container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

/* Kotak login */
.login-box {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  text-align: center;
  width: 550px;
}

/* Judul */
.login-box h2 {
  color: #2f7f72;
  margin-bottom: 20px;
}

.login-box button{
  color: white;
  height: 40px;
  width: 140px;
}
.social-login button{
  color: #333;
}

/* Label & Input */
form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

form label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

form input {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 6px;
  background: #e6e6e6;
  font-size: 14px;
}

/* Tombol Continue */
.btn-continue {
  background: #20c997;
  color: white;
  border: none;
  padding: 1px, 1px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  margin-top:5px;
  transition: 0.3s;
  margin: auto;
}

.btn-continue:hover {
  background: #17a2b8;
}

/* Divider */
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #777;
  margin: 15px 0;
}

.divider::before, .divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider:not(:empty)::before {
  margin-right: 0.75em;
}

.divider:not(:empty)::after {
  margin-left: 0.75em;
}

/* Social login */
.social-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-login button {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  border: none;
  padding: 10px;
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: 0.3s;
  margin: auto;
}

.social-login button:hover {
  background: #f0f0f0;
}

.social-login img {
  width: 20px;
  height: 20px;
}