* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #20c997, #17a2b8);
  color: white;
  z-index: 1000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navbar .logo a {
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navbar .nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar .nav-links li a:hover {
  text-decoration: underline;
}

.auth-buttons .btn {
  margin-left: 6px;
  padding: 6px 14px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  transition:  0.3s;
}

.btn-signin {
  border: 1.5px solid white;
  color: white;
  height: 10px;
  width: 10px;
}

.btn-signin:hover {
background-color:#62c2c2
}

.btn-signup {
  color: #ffffff;
}

.btn-signup:hover {
text-decoration: underline;
}

.hero{
  margin-top: 100px;
  text-align: center;
}

body {
      font-family: Arial, sans-serif;
      background: #f7f9fc;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 700px;
      margin: 90px auto;
      background: #d8d8d8;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }

    h2 {
      margin-bottom: 20px;
      color: #0a3d62;
      text-align: center;
    }

    .order-summary {
      background: #f1f2f6;
      padding: 15px;
      border-radius: 8px;
      margin-bottom: 20px;
    }

    .order-summary p {
      margin: 6px 0;
    }

    .payment-instructions {
      margin-top: 20px;
    }

    .instructions {
      background: #f8f9fa;
      border-left: 4px solid #0070ba;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 8px;
    }

    .instructions ol {
      padding-left: 20px;
    }

    .btn-finish {
      display: block;
      width: 100%;
      padding: 12px;
      background: #0a3d62;
      color: #fff;
      font-size: 16px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      transition: 0.3s;
    }

    .btn-finish:hover {
      background: #165ea5;
    }

    .deadline {
      color: red;
      font-weight: bold;
    }