.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}

.hero h1{
    font-size: 30px;
}

/* Overlay gelap + blur */
.overlay,
.overlay-home { 
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.55);
}

.overlay h1 {
  padding-bottom: 5%;
}

.overlay-home {
  background: rgba(0, 0, 0, 0.5);
  padding: 12% 2% 2%;
}
.overlay-home button{
    width: 100px;
    height: 60px;
    color: black;
    
}

/* Container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

/* Kotak login */
.login-box {
  background: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  text-align: center;
  width: 620px;
}

/* Judul */
.login-box h2 {
  color: #575757;
  text-align: center;
  font-size: 25px;
}

.login-box h3 {
  color: #828282;
  margin-bottom: 20px;
  text-align: center;
  font-size: 13px;
}

/* Tombol Continue */
.btn-continue {
  background: #d0695b;
  color: white;
  border: none;
  padding: 1px, 1px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  margin-top:5px;
  transition: 0.3s;
  margin: auto;
  margin-bottom: 10px;
}

.btn-continue:hover {
  background: #d5503e;
}

.login-box button{
  color: white;
  width: 200px;
  height: 35px;
}